--main{
  color: green;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.flex-btw{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.gap-5{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-20{
  gap: 20px;
}
.pad-5{
  padding:  5px;
}
.pad-10{
  padding:  10px;
}
.pad-15{
  padding:  15px;
}
.pad-20{
  padding:  20px;
}
.mar-5{
  margin:  5px;
}
.mar-10{
  margin:  10px;
}
.mar-15{
  margin:  15px;
}
.mar-20{
  margin:  20px;
}
.linkTag{
  text-decoration: none;
  color: black;
}